# ===================================================================
# tpRigToolkit-config requirements file
# ===================================================================

pytest
pytest-cov
coveralls